In [1]:
from pathlib import Path
import pandas as pd

In [2]:
PATH_DATA = Path.cwd().parent.parent.parent / 'data'
PATH_DATA.exists()

True

In [3]:
PATH_RESULTS = PATH_DATA / 'results'
PATH_RESULTS.exists()

True

In [4]:
PATH_RESULTS_LIFESTYLE_ARCHAEA = PATH_RESULTS / 'lifestyle' / 'archaea'
PATH_RESULTS_LIFESTYLE_ARCHAEA.exists()

True

In [5]:
PATH_DESTINY_LIFESTYLE_ARCHAEA = PATH_RESULTS_LIFESTYLE_ARCHAEA / 'lifestyle_archaea.json'
PATH_DESTINY_LIFESTYLE_ARCHAEA.exists()

True

# archaea

In [6]:
df_archaea_lifestyle = pd.read_json(PATH_DESTINY_LIFESTYLE_ARCHAEA)
df_archaea_lifestyle.head()

,name,url_refseq,url_gcm_isolation_src,Sediment,Water,Total,Environmental,Others,Soil,Marine,Plant-associated,Host-associated,Sludge/wastewater,Food,Fermentation products,Microbial-mat-biofilm,Engineered,Air
0,Acidianus_ambivalens,https://ftp.ncbi.nlm.nih.gov/genomes/refseq/ar...,https://gcm.wdcm.org/search?search=Acidianus a...,1.0,1.0,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Acidianus_brierleyi,https://ftp.ncbi.nlm.nih.gov/genomes/refseq/ar...,https://gcm.wdcm.org/search?search=Acidianus b...,1.0,NaN,5,3.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Acidianus_infernus,https://ftp.ncbi.nlm.nih.gov/genomes/refseq/ar...,https://gcm.wdcm.org/search?search=Acidianus i...,2.0,NaN,3,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Acidianus_manzaensis,https://ftp.ncbi.nlm.nih.gov/genomes/refseq/ar...,https://gcm.wdcm.org/search?search=Acidianus m...,NaN,NaN,1,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Acidianus_sp._HS-5,https://ftp.ncbi.nlm.nih.gov/genomes/refseq/ar...,https://gcm.wdcm.org/search?search=Acidianus&l...,6.0,1.0,17,4.0,5.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [16]:
df_archaea_lifestyle.shape

(919, 18)

In [7]:
cols_archaea = list(df_archaea_lifestyle.columns)

In [8]:
environments = cols_archaea[3:]

In [9]:
environments.remove('Total')
environments = sorted(environments)
environments.append('Total')
environments

['Air',
 'Engineered',
 'Environmental',
 'Fermentation products',
 'Food',
 'Host-associated',
 'Marine',
 'Microbial-mat-biofilm',
 'Others',
 'Plant-associated',
 'Sediment',
 'Sludge/wastewater',
 'Soil',
 'Water',
 'Total']

In [12]:
cols_archaea = cols_archaea[:3] + environments

In [13]:
df_archaea_lifestyle = df_archaea_lifestyle[cols_archaea]
df_archaea_lifestyle.head()

,name,url_refseq,url_gcm_isolation_src,Air,Engineered,Environmental,Fermentation products,Food,Host-associated,Marine,Microbial-mat-biofilm,Others,Plant-associated,Sediment,Sludge/wastewater,Soil,Water,Total
0,Acidianus_ambivalens,https://ftp.ncbi.nlm.nih.gov/genomes/refseq/ar...,https://gcm.wdcm.org/search?search=Acidianus a...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,1.0,2
1,Acidianus_brierleyi,https://ftp.ncbi.nlm.nih.gov/genomes/refseq/ar...,https://gcm.wdcm.org/search?search=Acidianus b...,NaN,NaN,3.0,NaN,NaN,NaN,NaN,NaN,1.0,NaN,1.0,NaN,NaN,NaN,5
2,Acidianus_infernus,https://ftp.ncbi.nlm.nih.gov/genomes/refseq/ar...,https://gcm.wdcm.org/search?search=Acidianus i...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,2.0,NaN,NaN,NaN,3
3,Acidianus_manzaensis,https://ftp.ncbi.nlm.nih.gov/genomes/refseq/ar...,https://gcm.wdcm.org/search?search=Acidianus m...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,1
4,Acidianus_sp._HS-5,https://ftp.ncbi.nlm.nih.gov/genomes/refseq/ar...,https://gcm.wdcm.org/search?search=Acidianus&l...,NaN,NaN,4.0,NaN,NaN,NaN,NaN,NaN,5.0,NaN,6.0,NaN,1.0,1.0,17

In [14]:
# repeated values for the column 'url_gcm_isolation_src'
df_archaea_lifestyle['url_gcm_isolation_src'].nunique()

609

In [15]:
# create a dataframe with just the repeated values including first
df_archaea_lifestyle_repeated = df_archaea_lifestyle[df_archaea_lifestyle.duplicated(subset='url_gcm_isolation_src', keep=False)]
df_archaea_lifestyle_repeated

,name,url_refseq,url_gcm_isolation_src,Air,Engineered,Environmental,Fermentation products,Food,Host-associated,Marine,Microbial-mat-biofilm,Others,Plant-associated,Sediment,Sludge/wastewater,Soil,Water,Total
4,Acidianus_sp._HS-5,https://ftp.ncbi.nlm.nih.gov/genomes/refseq/ar...,https://gcm.wdcm.org/search?search=Acidianus&l...,NaN,NaN,4.0,NaN,NaN,NaN,NaN,NaN,5.0,NaN,6.0,NaN,1.0,1.0,17
5,Acidianus_sp._RZ1,https://ftp.ncbi.nlm.nih.gov/genomes/refseq/ar...,https://gcm.wdcm.org/search?search=Acidianus&l...,NaN,NaN,4.0,NaN,NaN,NaN,NaN,NaN,5.0,NaN,6.0,NaN,1.0,1.0,17
11,Acidiplasma_sp.,https://ftp.ncbi.nlm.nih.gov/genomes/refseq/ar...,https://gcm.wdcm.org/search?search=Acidiplasma...,NaN,NaN,2.0,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,1.0,NaN,4
12,Acidiplasma_sp._MBA-1,https://ftp.ncbi.nlm.nih.gov/genomes/refseq/ar...,https://gcm.wdcm.org/search?search=Acidiplasma...,NaN,NaN,2.0,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,1.0,NaN,4
18,Archaeoglobus_sp.,https://ftp.ncbi.nlm.nih.gov/genomes/refseq/ar...,https://gcm.wdcm.org/search?search=Archaeoglob...,NaN,NaN,5.0,NaN,NaN,1.0,NaN,NaN,7.0,1.0,4.0,NaN,NaN,1.0,19
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
907,Thermoproteus_sp._CP80,https://ftp.ncbi.nlm.nih.gov/genomes/refseq/ar...,https://gcm.wdcm.org/search?search=Thermoprote...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,5.0,NaN,5.0,6.0,17
914,Vulcanisaeta_sp._EB80,https://ftp.ncbi.nlm.nih.gov/genomes/refseq/ar...,https://gcm.wdcm.org/search?search=Vulcanisaet...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN,3.0,NaN,10.0,14.0,29
915,Vulcanisaeta_sp._JCM_14467,https://ftp.ncbi.nlm.nih.gov/genomes/refseq/ar...,https://gcm.wdcm.org/search?search=Vulcanisaet...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN,3.0,NaN,10.0,14.0,29
916,Vulcanisaeta_sp._JCM_16159,https://ftp.ncbi.nlm.nih.gov/genomes/refseq/ar...,https://gcm.wdcm.org/search?search=Vulcanisaet...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN,3.0,NaN,10.0,14.0,29
917,Vulcanisaeta_sp._JCM_16161,https://ftp.ncbi.nlm.nih.gov/genomes/refseq/ar...,https://gcm.wdcm.org/search?search=Vulcanisaet...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN,3.0,NaN,10.0,14.0,29