In [1]:
from pathlib import Path
import numpy as np
import pandas as pd
import sys

# Constants

In [2]:
PATH_DATA = Path.cwd().parent.parent / 'data'
PATH_DATA.exists()

True

In [3]:
PATH_SCRAPED = PATH_DATA / "raw" / "scraped"
PATH_SCRAPED.exists()

True

In [4]:
PATH_PREPROCESSED = PATH_DATA / "preprocessed"
PATH_PREPROCESSED.exists()

True

In [5]:
PATH_RESULTS_ARCHAEA = (PATH_DATA / "results" / "archaea")
PATH_RESULTS_ARCHAEA.exists()

True

In [6]:
PATH_TAXONOMY_ARCHAEA = (PATH_SCRAPED / "archaea" / "taxonomy")
PATH_TAXONOMY_ARCHAEA.exists()

True

In [7]:
PATH_PREPROCESSED_ARCHAEA = PATH_PREPROCESSED / "archaea"
PATH_PREPROCESSED_ARCHAEA.exists()

True

In [8]:
PATH_COMBINED_ARCHAEA = PATH_PREPROCESSED_ARCHAEA / "mfa_tax_combined"
PATH_COMBINED_ARCHAEA.exists()

True

In [9]:
PATH_RESULTS_BACTERIA = (PATH_DATA / "results" / "bacteria")
PATH_RESULTS_BACTERIA.exists()

True

In [10]:
PATH_PREPROCESSED_BACTERIA = PATH_PREPROCESSED / "bacteria"
PATH_PREPROCESSED_BACTERIA.exists()

True

In [11]:
PATH_COMBINED_BACTERIA = PATH_PREPROCESSED_BACTERIA / "mfa_tax_combined"
PATH_COMBINED_BACTERIA.exists()

True

In [53]:
PATH_TAXONOMY_BACTERIA = (PATH_SCRAPED / "bacteria" / "taxonomy")
PATH_TAXONOMY_BACTERIA.exists()

True

# Archaea

In [12]:
df_archaea = pd.read_csv(PATH_RESULTS_ARCHAEA / 'mfa_archaea.csv', sep=';', dtype=str)
df_archaea = df_archaea.replace({',': '.'}, regex=True)
df_archaea = df_archaea.apply(pd.to_numeric, errors='ignore')
df_archaea

C:\Users\Diego\AppData\Local\Temp\ipykernel_14748\1059225361.py:3: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df_archaea = df_archaea.apply(pd.to_numeric, errors='ignore')

,name,url,sequence,seq_length,GC_content,Q,Tau(Q),D(Q),r_squared,Delta_Dq
0,Acidianus_ambivalens,https://ftp.ncbi.nlm.nih.gov/genomes/refseq/ar...,acidianus_ambivalens,2326940,0.343665,-20.0,-61.994322,2.952111,0.998501,1.351540
1,Acidianus_ambivalens,https://ftp.ncbi.nlm.nih.gov/genomes/refseq/ar...,acidianus_ambivalens,2326940,0.343665,-19.0,-58.900917,2.945046,0.998499,1.351540
2,Acidianus_ambivalens,https://ftp.ncbi.nlm.nih.gov/genomes/refseq/ar...,acidianus_ambivalens,2326940,0.343665,-18.0,-55.807529,2.937238,0.998497,1.351540
3,Acidianus_ambivalens,https://ftp.ncbi.nlm.nih.gov/genomes/refseq/ar...,acidianus_ambivalens,2326940,0.343665,-17.0,-52.714165,2.928565,0.998494,1.351540
4,Acidianus_ambivalens,https://ftp.ncbi.nlm.nih.gov/genomes/refseq/ar...,acidianus_ambivalens,2326940,0.343665,-16.0,-49.620837,2.918873,0.998492,1.351540
...,...,...,...,...,...,...,...,...,...,...
195647,Vulcanisaeta_thermophila,https://ftp.ncbi.nlm.nih.gov/genomes/refseq/ar...,vulcanisaeta_thermophila_segment_3,674198,0.490012,16.0,24.122574,1.608172,0.997867,1.240771
195648,Vulcanisaeta_thermophila,https://ftp.ncbi.nlm.nih.gov/genomes/refseq/ar...,vulcanisaeta_thermophila_segment_3,674198,0.490012,17.0,25.639228,1.602452,0.997806,1.240771
195649,Vulcanisaeta_thermophila,https://ftp.ncbi.nlm.nih.gov/genomes/refseq/ar...,vulcanisaeta_thermophila_segment_3,674198,0.490012,18.0,27.154290,1.597311,0.997750,1.240771
195650,Vulcanisaeta_thermophila,https://ftp.ncbi.nlm.nih.gov/genomes/refseq/ar...,vulcanisaeta_thermophila_segment_3,674198,0.490012,19.0,28.668059,1.592670,0.997698,1.240771
195651,Vulcanisaeta_thermophila,https://ftp.ncbi.nlm.nih.gov/genomes/refseq/ar...,vulcanisaeta_thermophila_segment_3,674198,0.490012,20.0,30.180772,1.588462,0.997651,1.240771

In [13]:
df_archaea.dtypes

name           object
url            object
sequence       object
seq_length      int64
GC_content    float64
Q             float64
Tau(Q)        float64
D(Q)          float64
r_squared     float64
Delta_Dq      float64
dtype: object

## Data Preparation

In [14]:
print(df_archaea.shape)
df_archaea.columns

(195652, 10)

Index(['name', 'url', 'sequence', 'seq_length', 'GC_content', 'Q', 'Tau(Q)',
       'D(Q)', 'r_squared', 'Delta_Dq'],
      dtype='object')

In [15]:
df_composite_key_archaea = df_archaea.drop_duplicates(subset=['seq_length', 'GC_content', 'Q', 'D(Q)', 'Delta_Dq', 'sequence'])
df_composite_key_archaea.shape

(195652, 10)

In [16]:
df_composite_key_archaea.head()

,name,url,sequence,seq_length,GC_content,Q,Tau(Q),D(Q),r_squared,Delta_Dq
0,Acidianus_ambivalens,https://ftp.ncbi.nlm.nih.gov/genomes/refseq/ar...,acidianus_ambivalens,2326940,0.343665,-20.0,-61.994322,2.952111,0.998501,1.35154
1,Acidianus_ambivalens,https://ftp.ncbi.nlm.nih.gov/genomes/refseq/ar...,acidianus_ambivalens,2326940,0.343665,-19.0,-58.900917,2.945046,0.998499,1.35154
2,Acidianus_ambivalens,https://ftp.ncbi.nlm.nih.gov/genomes/refseq/ar...,acidianus_ambivalens,2326940,0.343665,-18.0,-55.807529,2.937238,0.998497,1.35154
3,Acidianus_ambivalens,https://ftp.ncbi.nlm.nih.gov/genomes/refseq/ar...,acidianus_ambivalens,2326940,0.343665,-17.0,-52.714165,2.928565,0.998494,1.35154
4,Acidianus_ambivalens,https://ftp.ncbi.nlm.nih.gov/genomes/refseq/ar...,acidianus_ambivalens,2326940,0.343665,-16.0,-49.620837,2.918873,0.998492,1.35154

In [17]:
# df_composite_key_archaea = df_composite_key_archaea[
#     (df_composite_key_archaea['Q'] == 0) |
#     (abs(df_composite_key_archaea['Q'] - 1) < 0.1) |
#     (df_composite_key_archaea['Q'] == 2) |
#     (df_composite_key_archaea['Q'] == 3)
# ]
# df_composite_key_archaea.shape

In [25]:
df_composite_key_archaea = df_composite_key_archaea[
    (abs(df_composite_key_archaea['Q'] - 1) < 0.1)
]
df_composite_key_archaea = df_composite_key_archaea.rename(columns={'D(Q)': 'D(Q=1)'})
df_composite_key_archaea.shape

(4772, 10)

In [26]:
df_composite_key_archaea.columns

Index(['name', 'url', 'sequence', 'seq_length', 'GC_content', 'Q', 'Tau(Q)',
       'D(Q=1)', 'r_squared', 'Delta_Dq'],
      dtype='object')

In [27]:
# Drop rows where 'sequence' ends with 'segment_1', 'segment_2', or 'segment_3'
df_full_genomes_archaea = df_composite_key_archaea[
    ~df_composite_key_archaea['sequence'].str.endswith(('segment_1', 'segment_2', 'segment_3'))
]
df_full_genomes_archaea.shape

(1193, 10)

In [28]:
df_full_genomes_archaea

,name,url,sequence,seq_length,GC_content,Q,Tau(Q),D(Q=1),r_squared,Delta_Dq
21,Acidianus_ambivalens,https://ftp.ncbi.nlm.nih.gov/genomes/refseq/ar...,acidianus_ambivalens,2326940,0.343665,0.99999,-0.000019,1.897040,0.999993,1.351540
185,Acidianus_brierleyi,https://ftp.ncbi.nlm.nih.gov/genomes/refseq/ar...,acidianus_brierleyi,2947156,0.319039,0.99999,-0.000019,1.876384,0.999994,1.538267
349,Acidianus_hospitalis,https://ftp.ncbi.nlm.nih.gov/genomes/refseq/ar...,acidianus_hospitalis,2137654,0.341481,0.99999,-0.000019,1.894346,0.999993,1.495359
513,Acidianus_infernus,https://ftp.ncbi.nlm.nih.gov/genomes/refseq/ar...,acidianus_infernus,2222414,0.343625,0.99999,-0.000019,1.897193,0.999993,1.415934
677,Acidianus_manzaensis,https://ftp.ncbi.nlm.nih.gov/genomes/refseq/ar...,acidianus_manzaensis,2687463,0.306201,0.99999,-0.000019,1.858440,0.999993,1.615672
...,...,...,...,...,...,...,...,...,...,...
194853,Vulcanisaeta_sp._EB80,https://ftp.ncbi.nlm.nih.gov/genomes/refseq/ar...,vulcanisaeta_sp._eb80,1557272,0.605719,0.99999,-0.000019,1.907432,0.999940,1.208065
195017,Vulcanisaeta_sp._JCM_14467,https://ftp.ncbi.nlm.nih.gov/genomes/refseq/ar...,vulcanisaeta_sp._jcm_14467,2443876,0.467266,0.99999,-0.000019,1.946769,0.999962,1.335712
195181,Vulcanisaeta_sp._JCM_16159,https://ftp.ncbi.nlm.nih.gov/genomes/refseq/ar...,vulcanisaeta_sp._jcm_16159,2249042,0.452751,0.99999,-0.000019,1.946933,0.999970,1.273382
195345,Vulcanisaeta_sp._JCM_16161,https://ftp.ncbi.nlm.nih.gov/genomes/refseq/ar...,vulcanisaeta_sp._jcm_16161,2286599,0.459312,0.99999,-0.000019,1.943790,0.999963,1.340111
195509,Vulcanisaeta_thermophila,https://ftp.ncbi.nlm.nih.gov/genomes/refseq/ar...,vulcanisaeta_thermophila,2022594,0.490752,0.99999,-0.000019,1.934786,0.999951,1.349227

## Taxonomy

In [29]:
df_tax_archaea = pd.read_json(PATH_TAXONOMY_ARCHAEA / 'taxonomy_archaea.json', dtype=str)
df_tax_archaea = df_tax_archaea.rename(columns={'organism_name': 'name'})
df_tax_archaea #[:50]

,url,name,no rank,superkingdom,kingdom,phylum,clade,class,order,family,genus
0,https://www.ncbi.nlm.nih.gov/Taxonomy/Browser/...,ANME-2_cluster_archaeon_HR1,cellular organisms,Archaea,Methanobacteriati,Methanobacteriota,Stenosarchaea group,Methanomicrobia,Methanosarcinales,nan,nan
1,https://www.ncbi.nlm.nih.gov/Taxonomy/Browser/...,Acidianus_infernus,cellular organisms,Archaea,Thermoproteati,Thermoproteota,nan,Thermoprotei,Sulfolobales,Sulfolobaceae,Acidianus
2,https://www.ncbi.nlm.nih.gov/Taxonomy/Browser/...,Acidianus_brierleyi,cellular organisms,Archaea,Thermoproteati,Thermoproteota,nan,Thermoprotei,Sulfolobales,Sulfolobaceae,Acidianus
3,https://www.ncbi.nlm.nih.gov/Taxonomy/Browser/...,Acidianus_sp._HS-5,cellular organisms,Archaea,Thermoproteati,Thermoproteota,nan,Thermoprotei,Sulfolobales,Sulfolobaceae,Acidianus
4,https://www.ncbi.nlm.nih.gov/Taxonomy/Browser/...,Acidianus_sp._RZ1,cellular organisms,Archaea,Thermoproteati,Thermoproteota,nan,Thermoprotei,Sulfolobales,Sulfolobaceae,Acidianus
...,...,...,...,...,...,...,...,...,...,...,...
1227,https://www.ncbi.nlm.nih.gov/Taxonomy/Browser/...,uncultured_Methanosphaera_sp.,cellular organisms,Archaea,Methanobacteriati,Methanobacteriota,Methanomada group,Methanobacteria,Methanobacteriales,Methanobacteriaceae,Methanosphaera
1228,https://www.ncbi.nlm.nih.gov/Taxonomy/Browser/...,uncultured_Nitrososphaera_sp.,cellular organisms,Archaea,Thermoproteati,Nitrososphaerota,nan,Nitrososphaeria,Nitrososphaerales,Nitrososphaeraceae,Nitrososphaera
1229,https://www.ncbi.nlm.nih.gov/Taxonomy/Browser/...,uncultured_archaeon_A07HN63,cellular organisms,Archaea,nan,nan,nan,nan,nan,nan,nan
1230,https://www.ncbi.nlm.nih.gov/Taxonomy/Browser/...,uncultured_archaeon_A07HR60,cellular organisms,Archaea,nan,nan,nan,nan,nan,nan,nan
1231,https://www.ncbi.nlm.nih.gov/Taxonomy/Browser/...,uncultured_archaeon_A07HR67,cellular organisms,Archaea,nan,nan,nan,nan,nan,nan,nan

In [30]:
df_full_genomes_archaea = df_full_genomes_archaea.rename(columns={"url": "url_refseq"})
df_full_genomes_archaea.columns

Index(['name', 'url_refseq', 'sequence', 'seq_length', 'GC_content', 'Q',
       'Tau(Q)', 'D(Q=1)', 'r_squared', 'Delta_Dq'],
      dtype='object')

In [31]:
df_tax_archaea = df_tax_archaea.rename(columns={"url": "url_taxonomy"})
df_tax_archaea.columns

Index(['url_taxonomy', 'name', 'no rank', 'superkingdom', 'kingdom', 'phylum',
       'clade', 'class', 'order', 'family', 'genus'],
      dtype='object')

In [32]:
df_combined_archaea = pd.merge(df_full_genomes_archaea, df_tax_archaea, on='name', how='left')
df_combined_archaea

,name,url_refseq,sequence,seq_length,GC_content,Q,Tau(Q),D(Q=1),r_squared,Delta_Dq,url_taxonomy,no rank,superkingdom,kingdom,phylum,clade,class,order,family,genus
0,Acidianus_ambivalens,https://ftp.ncbi.nlm.nih.gov/genomes/refseq/ar...,acidianus_ambivalens,2326940,0.343665,0.99999,-0.000019,1.897040,0.999993,1.351540,https://www.ncbi.nlm.nih.gov/Taxonomy/Browser/...,cellular organisms,Archaea,Thermoproteati,Thermoproteota,nan,Thermoprotei,Sulfolobales,Sulfolobaceae,Acidianus
1,Acidianus_brierleyi,https://ftp.ncbi.nlm.nih.gov/genomes/refseq/ar...,acidianus_brierleyi,2947156,0.319039,0.99999,-0.000019,1.876384,0.999994,1.538267,https://www.ncbi.nlm.nih.gov/Taxonomy/Browser/...,cellular organisms,Archaea,Thermoproteati,Thermoproteota,nan,Thermoprotei,Sulfolobales,Sulfolobaceae,Acidianus
2,Acidianus_hospitalis,https://ftp.ncbi.nlm.nih.gov/genomes/refseq/ar...,acidianus_hospitalis,2137654,0.341481,0.99999,-0.000019,1.894346,0.999993,1.495359,https://www.ncbi.nlm.nih.gov/Taxonomy/Browser/...,nan,nan,nan,nan,nan,nan,nan,nan,nan
3,Acidianus_infernus,https://ftp.ncbi.nlm.nih.gov/genomes/refseq/ar...,acidianus_infernus,2222414,0.343625,0.99999,-0.000019,1.897193,0.999993,1.415934,https://www.ncbi.nlm.nih.gov/Taxonomy/Browser/...,cellular organisms,Archaea,Thermoproteati,Thermoproteota,nan,Thermoprotei,Sulfolobales,Sulfolobaceae,Acidianus
4,Acidianus_manzaensis,https://ftp.ncbi.nlm.nih.gov/genomes/refseq/ar...,acidianus_manzaensis,2687463,0.306201,0.99999,-0.000019,1.858440,0.999993,1.615672,https://www.ncbi.nlm.nih.gov/Taxonomy/Browser/...,cellular organisms,Archaea,Thermoproteati,Thermoproteota,nan,Thermoprotei,Sulfolobales,Sulfolobaceae,Acidianus
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1188,Vulcanisaeta_sp._EB80,https://ftp.ncbi.nlm.nih.gov/genomes/refseq/ar...,vulcanisaeta_sp._eb80,1557272,0.605719,0.99999,-0.000019,1.907432,0.999940,1.208065,https://www.ncbi.nlm.nih.gov/Taxonomy/Browser/...,cellular organisms,Archaea,Thermoproteati,Thermoproteota,nan,Thermoprotei,Thermoproteales,Thermoproteaceae,Vulcanisaeta
1189,Vulcanisaeta_sp._JCM_14467,https://ftp.ncbi.nlm.nih.gov/genomes/refseq/ar...,vulcanisaeta_sp._jcm_14467,2443876,0.467266,0.99999,-0.000019,1.946769,0.999962,1.335712,https://www.ncbi.nlm.nih.gov/Taxonomy/Browser/...,cellular organisms,Archaea,Thermoproteati,Thermoproteota,nan,Thermoprotei,Thermoproteales,Thermoproteaceae,Vulcanisaeta
1190,Vulcanisaeta_sp._JCM_16159,https://ftp.ncbi.nlm.nih.gov/genomes/refseq/ar...,vulcanisaeta_sp._jcm_16159,2249042,0.452751,0.99999,-0.000019,1.946933,0.999970,1.273382,https://www.ncbi.nlm.nih.gov/Taxonomy/Browser/...,cellular organisms,Archaea,Thermoproteati,Thermoproteota,nan,Thermoprotei,Thermoproteales,Thermoproteaceae,Vulcanisaeta
1191,Vulcanisaeta_sp._JCM_16161,https://ftp.ncbi.nlm.nih.gov/genomes/refseq/ar...,vulcanisaeta_sp._jcm_16161,2286599,0.459312,0.99999,-0.000019,1.943790,0.999963,1.340111,https://www.ncbi.nlm.nih.gov/Taxonomy/Browser/...,cellular organisms,Archaea,Thermoproteati,Thermoproteota,nan,Thermoprotei,Thermoproteales,Thermoproteaceae,Vulcanisaeta
1192,Vulcanisaeta_thermophila,https://ftp.ncbi.nlm.nih.gov/genomes/refseq/ar...,vulcanisaeta_thermophila,2022594,0.490752,0.99999,-0.000019,1.934786,0.999951,1.349227,https://www.ncbi.nlm.nih.gov/Taxonomy/Browser/...,cellular organisms,Archaea,Thermoproteati,Thermoproteota,nan,Thermoprotei,Thermoproteales,Thermoproteaceae,Vulcanisaeta

In [33]:
taxonomy_columns = ['superkingdom', 'kingdom', 'phylum', 'clade', 'class', 'order', 'family', 'genus']
df_combined_archaea[taxonomy_columns] = df_combined_archaea[taxonomy_columns].apply(lambda col: col.mask(col.isna(), pd.NA))
df_combined_archaea[taxonomy_columns] = df_combined_archaea[taxonomy_columns].replace('nan', pd.NA)
df_combined_archaea['superkingdom'].unique()

array(['Archaea', <NA>], dtype=object)

## Saving the data

In [ ]:
# df_combined_archaea.to_csv(PATH_COMBINED_ARCHAEA / 'combined_archaea.csv', sep=';', index=False)

# Bacteria

In [36]:
df_bacteria_0_35k = pd.read_csv(PATH_RESULTS_BACTERIA / 'mfa_bacteria_0_35000.csv', sep=';', dtype=str)
df_bacteria_0_35k

,name,url,sequence,seq_length,GC_content,Q,Tau(Q),D(Q),r_squared,Delta_Dq
0,Abditibacterium_utsteinense,https://ftp.ncbi.nlm.nih.gov/genomes/refseq/ba...,abditibacterium_utsteinense,3606331,"0,5426839632856774","-20,0","-72,66465514634189","3,4602216736353277","0,9698146394684455","2,136053987504341"
1,Abditibacterium_utsteinense,https://ftp.ncbi.nlm.nih.gov/genomes/refseq/ba...,abditibacterium_utsteinense,3606331,"0,5426839632856774","-19,0","-69,06562170824506","3,453281085412253","0,9700241704080936","2,136053987504341"
2,Abditibacterium_utsteinense,https://ftp.ncbi.nlm.nih.gov/genomes/refseq/ba...,abditibacterium_utsteinense,3606331,"0,5426839632856774","-18,0","-65,4663970739676","3,4455998459982946","0,9702559315728465","2,136053987504341"
3,Abditibacterium_utsteinense,https://ftp.ncbi.nlm.nih.gov/genomes/refseq/ba...,abditibacterium_utsteinense,3606331,"0,5426839632856774","-17,0","-61,866949855097616","3,437052769727645","0,9705136434109122","2,136053987504341"
4,Abditibacterium_utsteinense,https://ftp.ncbi.nlm.nih.gov/genomes/refseq/ba...,abditibacterium_utsteinense,3606331,"0,5426839632856774","-16,0","-58,267243922844344","3,4274849366379025","0,9708019026058612","2,136053987504341"
...,...,...,...,...,...,...,...,...,...,...
5539259,PVC_group_bacterium,https://ftp.ncbi.nlm.nih.gov/genomes/refseq/ba...,pvc_group_bacterium_segment_3,1460619,"0,6363076202623682","16,0","21,465132664000123","1,4310088442666749","0,9976833291538687","1,4348619472405753"
5539260,PVC_group_bacterium,https://ftp.ncbi.nlm.nih.gov/genomes/refseq/ba...,pvc_group_bacterium_segment_3,1460619,"0,6363076202623682","17,0","22,81927140198009","1,4262044626237556","0,9976479303763938","1,4348619472405753"
5539261,PVC_group_bacterium,https://ftp.ncbi.nlm.nih.gov/genomes/refseq/ba...,pvc_group_bacterium_segment_3,1460619,"0,6363076202623682","18,0","24,172991159683413","1,4219406564519654","0,9976172541412566","1,4348619472405753"
5539262,PVC_group_bacterium,https://ftp.ncbi.nlm.nih.gov/genomes/refseq/ba...,pvc_group_bacterium_segment_3,1460619,"0,6363076202623682","19,0","25,526317899456267","1,4181287721920148","0,9975905129762491","1,4348619472405753"
5539263,PVC_group_bacterium,https://ftp.ncbi.nlm.nih.gov/genomes/refseq/ba...,pvc_group_bacterium_segment_3,1460619,"0,6363076202623682","20,0","26,87927288206122","1,414698572740064","0,997567073604625","1,4348619472405753"

In [37]:
df_bacteria_35k_52k = pd.read_csv(PATH_RESULTS_BACTERIA / 'mfa_bacteria_35000_52909.csv', sep=';', dtype=str)
df_bacteria_35k_52k

,name,url,sequence,seq_length,GC_content,Q,Tau(Q),D(Q),r_squared,Delta_Dq
0,Pseudodesulfovibrio_indicus,https://ftp.ncbi.nlm.nih.gov/genomes/refseq/ba...,pseudodesulfovibrio_indicus,3966573,"0,634883563216913","-20,0","-58,22372404009182","2,77255828762342","0,998439748513986","1,2478087067971309"
1,Pseudodesulfovibrio_indicus,https://ftp.ncbi.nlm.nih.gov/genomes/refseq/ba...,pseudodesulfovibrio_indicus,3966573,"0,634883563216913","-19,0","-55,31755996878647","2,7658779984393234","0,9984547716999835","1,2478087067971309"
2,Pseudodesulfovibrio_indicus,https://ftp.ncbi.nlm.nih.gov/genomes/refseq/ba...,pseudodesulfovibrio_indicus,3966573,"0,634883563216913","-18,0","-52,41184580682713","2,7585182003593225","0,9984714685532762","1,2478087067971309"
3,Pseudodesulfovibrio_indicus,https://ftp.ncbi.nlm.nih.gov/genomes/refseq/ba...,pseudodesulfovibrio_indicus,3966573,"0,634883563216913","-17,0","-49,506696847686705","2,750372047093706","0,9984901100821286","1,2478087067971309"
4,Pseudodesulfovibrio_indicus,https://ftp.ncbi.nlm.nih.gov/genomes/refseq/ba...,pseudodesulfovibrio_indicus,3966573,"0,634883563216913","-16,0","-46,602267713291056","2,7413098654877093","0,9985110304927113","1,2478087067971309"
...,...,...,...,...,...,...,...,...,...,...
3417591,Zymomonas_sp.,https://ftp.ncbi.nlm.nih.gov/genomes/refseq/ba...,zymomonas_sp._segment_3,640617,"0,45795381639887794","16,0","24,041505273994705","1,6027670182663136","0,9983998418704588","1,2856818438370474"
3417592,Zymomonas_sp.,https://ftp.ncbi.nlm.nih.gov/genomes/refseq/ba...,zymomonas_sp._segment_3,640617,"0,45795381639887794","17,0","25,564688499910517","1,5977930312444073","0,9983302561291089","1,2856818438370474"
3417593,Zymomonas_sp.,https://ftp.ncbi.nlm.nih.gov/genomes/refseq/ba...,zymomonas_sp._segment_3,640617,"0,45795381639887794","18,0","27,08653137280582","1,5933253748709306","0,9982699578190471","1,2856818438370474"
3417594,Zymomonas_sp.,https://ftp.ncbi.nlm.nih.gov/genomes/refseq/ba...,zymomonas_sp._segment_3,640617,"0,45795381639887794","19,0","28,607184008911975","1,5892880004951098","0,9982175466913437","1,2856818438370474"
3417595,Zymomonas_sp.,https://ftp.ncbi.nlm.nih.gov/genomes/refseq/ba...,zymomonas_sp._segment_3,640617,"0,45795381639887794","20,0","30,126769923329796","1,5856194696489367","0,9981718483610235","1,2856818438370474"

## Data Preparation

In [38]:
df_composite_key_bacteria_0_35k = df_bacteria_0_35k.drop_duplicates(subset=['seq_length', 'GC_content', 'Q', 'D(Q)', 'Delta_Dq', 'sequence'])
df_composite_key_bacteria_0_35k.shape

(5539264, 10)

In [39]:
df_composite_key_bacteria_0_35k = df_composite_key_bacteria_0_35k.replace({',': '.'}, regex=True)
df_composite_key_bacteria_0_35k = df_composite_key_bacteria_0_35k.apply(pd.to_numeric, errors='ignore')

C:\Users\Diego\AppData\Local\Temp\ipykernel_14748\3945596743.py:2: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df_composite_key_bacteria_0_35k = df_composite_key_bacteria_0_35k.apply(pd.to_numeric, errors='ignore')

In [40]:
df_composite_key_bacteria_35k_52k = df_bacteria_35k_52k.drop_duplicates(subset=['seq_length', 'GC_content', 'Q', 'D(Q)', 'Delta_Dq', 'sequence'])
df_composite_key_bacteria_35k_52k.shape

(2832444, 10)

In [41]:
df_composite_key_bacteria_35k_52k = df_composite_key_bacteria_35k_52k.replace({',': '.'}, regex=True)
df_composite_key_bacteria_35k_52k = df_composite_key_bacteria_35k_52k.apply(pd.to_numeric, errors='ignore')

C:\Users\Diego\AppData\Local\Temp\ipykernel_14748\262946745.py:2: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df_composite_key_bacteria_35k_52k = df_composite_key_bacteria_35k_52k.apply(pd.to_numeric, errors='ignore')

In [47]:
df_composite_key_bacteria = pd.concat([df_composite_key_bacteria_0_35k, df_composite_key_bacteria_35k_52k], ignore_index=True)
print(df_composite_key_bacteria.shape)
df_composite_key_bacteria

(8371708, 10)

,name,url,sequence,seq_length,GC_content,Q,Tau(Q),D(Q),r_squared,Delta_Dq
0,Abditibacterium_utsteinense,https://ftp.ncbi.nlm.nih.gov/genomes/refseq/ba...,abditibacterium_utsteinense,3606331,0.542684,-20.0,-72.664655,3.460222,0.969815,2.136054
1,Abditibacterium_utsteinense,https://ftp.ncbi.nlm.nih.gov/genomes/refseq/ba...,abditibacterium_utsteinense,3606331,0.542684,-19.0,-69.065622,3.453281,0.970024,2.136054
2,Abditibacterium_utsteinense,https://ftp.ncbi.nlm.nih.gov/genomes/refseq/ba...,abditibacterium_utsteinense,3606331,0.542684,-18.0,-65.466397,3.445600,0.970256,2.136054
3,Abditibacterium_utsteinense,https://ftp.ncbi.nlm.nih.gov/genomes/refseq/ba...,abditibacterium_utsteinense,3606331,0.542684,-17.0,-61.866950,3.437053,0.970514,2.136054
4,Abditibacterium_utsteinense,https://ftp.ncbi.nlm.nih.gov/genomes/refseq/ba...,abditibacterium_utsteinense,3606331,0.542684,-16.0,-58.267244,3.427485,0.970802,2.136054
...,...,...,...,...,...,...,...,...,...,...
8371703,Zymomonas_sp.,https://ftp.ncbi.nlm.nih.gov/genomes/refseq/ba...,zymomonas_sp._segment_3,640617,0.457954,16.0,24.041505,1.602767,0.998400,1.285682
8371704,Zymomonas_sp.,https://ftp.ncbi.nlm.nih.gov/genomes/refseq/ba...,zymomonas_sp._segment_3,640617,0.457954,17.0,25.564688,1.597793,0.998330,1.285682
8371705,Zymomonas_sp.,https://ftp.ncbi.nlm.nih.gov/genomes/refseq/ba...,zymomonas_sp._segment_3,640617,0.457954,18.0,27.086531,1.593325,0.998270,1.285682
8371706,Zymomonas_sp.,https://ftp.ncbi.nlm.nih.gov/genomes/refseq/ba...,zymomonas_sp._segment_3,640617,0.457954,19.0,28.607184,1.589288,0.998218,1.285682
8371707,Zymomonas_sp.,https://ftp.ncbi.nlm.nih.gov/genomes/refseq/ba...,zymomonas_sp._segment_3,640617,0.457954,20.0,30.126770,1.585619,0.998172,1.285682

In [43]:
# df_composite_key_bacteria = df_composite_key_bacteria[
#     (df_composite_key_bacteria['Q'] == 0) |
#     (abs(df_composite_key_bacteria['Q'] - 1) < 0.1) |
#     (df_composite_key_bacteria['Q'] == 2) |
#     (df_composite_key_bacteria['Q'] == 3)
# ]
# df_composite_key_bacteria.shape

In [48]:
df_composite_key_bacteria = df_composite_key_bacteria[
    (abs(df_composite_key_bacteria['Q'] - 1) < 0.1)
]
df_composite_key_bacteria = df_composite_key_bacteria.rename(columns={'D(Q)': 'D(Q=1)'})
df_composite_key_bacteria.shape

(204188, 10)

In [49]:
df_composite_key_bacteria

,name,url,sequence,seq_length,GC_content,Q,Tau(Q),D(Q=1),r_squared,Delta_Dq
21,Abditibacterium_utsteinense,https://ftp.ncbi.nlm.nih.gov/genomes/refseq/ba...,abditibacterium_utsteinense,3606331,0.542684,0.99999,-0.000019,1.876546,0.999972,2.136054
62,Abditibacterium_utsteinense,https://ftp.ncbi.nlm.nih.gov/genomes/refseq/ba...,abditibacterium_utsteinense_segment_1,1202110,0.544933,0.99999,-0.000019,1.871538,0.999965,1.909285
103,Abditibacterium_utsteinense,https://ftp.ncbi.nlm.nih.gov/genomes/refseq/ba...,abditibacterium_utsteinense_segment_2,1202110,0.543961,0.99999,-0.000019,1.879691,0.999971,1.863879
144,Abditibacterium_utsteinense,https://ftp.ncbi.nlm.nih.gov/genomes/refseq/ba...,abditibacterium_utsteinense_segment_3,1202110,0.539157,0.99999,-0.000019,1.875563,0.999967,1.927774
185,Abiotrophia_defectiva,https://ftp.ncbi.nlm.nih.gov/genomes/refseq/ba...,abiotrophia_defectiva,2043439,0.469444,0.99999,-0.000020,1.963962,0.999991,0.811359
...,...,...,...,...,...,...,...,...,...,...
8371524,Zymomonas_mobilis,https://ftp.ncbi.nlm.nih.gov/genomes/refseq/ba...,zymomonas_mobilis_segment_3,685454,0.465150,0.99999,-0.000019,1.934551,0.999974,1.295974
8371565,Zymomonas_sp.,https://ftp.ncbi.nlm.nih.gov/genomes/refseq/ba...,zymomonas_sp.,1921851,0.458903,0.99999,-0.000019,1.930892,0.999976,1.433338
8371606,Zymomonas_sp.,https://ftp.ncbi.nlm.nih.gov/genomes/refseq/ba...,zymomonas_sp._segment_1,640617,0.459140,0.99999,-0.000019,1.927564,0.999968,1.401800
8371647,Zymomonas_sp.,https://ftp.ncbi.nlm.nih.gov/genomes/refseq/ba...,zymomonas_sp._segment_2,640617,0.459615,0.99999,-0.000019,1.928803,0.999970,1.329194
8371688,Zymomonas_sp.,https://ftp.ncbi.nlm.nih.gov/genomes/refseq/ba...,zymomonas_sp._segment_3,640617,0.457954,0.99999,-0.000019,1.931065,0.999971,1.285682

In [50]:
# Drop rows where 'sequence' ends with 'segment_1', 'segment_2', or 'segment_3'
df_full_genomes_bacteria = df_composite_key_bacteria[
    ~df_composite_key_bacteria['sequence'].str.endswith(('segment_1', 'segment_2', 'segment_3'))
]
df_full_genomes_bacteria.shape

(51047, 10)

In [51]:
df_full_genomes_bacteria

,name,url,sequence,seq_length,GC_content,Q,Tau(Q),D(Q=1),r_squared,Delta_Dq
21,Abditibacterium_utsteinense,https://ftp.ncbi.nlm.nih.gov/genomes/refseq/ba...,abditibacterium_utsteinense,3606331,0.542684,0.99999,-0.000019,1.876546,0.999972,2.136054
185,Abiotrophia_defectiva,https://ftp.ncbi.nlm.nih.gov/genomes/refseq/ba...,abiotrophia_defectiva,2043439,0.469444,0.99999,-0.000020,1.963962,0.999991,0.811359
349,Abiotrophia_sp.,https://ftp.ncbi.nlm.nih.gov/genomes/refseq/ba...,abiotrophia_sp.,2016058,0.468279,0.99999,-0.000020,1.964641,0.999992,0.765295
513,Abiotrophia_sp._HMSC24B09,https://ftp.ncbi.nlm.nih.gov/genomes/refseq/ba...,abiotrophia_sp._hmsc24b09,2020784,0.465602,0.99999,-0.000020,1.964292,0.999992,0.752920
677,Absicoccus_porci,https://ftp.ncbi.nlm.nih.gov/genomes/refseq/ba...,absicoccus_porci,2222132,0.386083,0.99999,-0.000019,1.916776,0.999990,1.339399
...,...,...,...,...,...,...,...,...,...,...
8370909,Zwartia_sp.,https://ftp.ncbi.nlm.nih.gov/genomes/refseq/ba...,zwartia_sp.,3447573,0.522330,0.99999,-0.000020,1.962239,0.999996,0.857123
8371073,Zwartia_vadi,https://ftp.ncbi.nlm.nih.gov/genomes/refseq/ba...,zwartia_vadi,3232556,0.516148,0.99999,-0.000020,1.962449,0.999997,0.922856
8371237,Zymobacter_palmae,https://ftp.ncbi.nlm.nih.gov/genomes/refseq/ba...,zymobacter_palmae,2972948,0.560158,0.99999,-0.000019,1.946566,0.999986,0.975079
8371401,Zymomonas_mobilis,https://ftp.ncbi.nlm.nih.gov/genomes/refseq/ba...,zymomonas_mobilis,2056363,0.463281,0.99999,-0.000019,1.932586,0.999978,1.396024
8371565,Zymomonas_sp.,https://ftp.ncbi.nlm.nih.gov/genomes/refseq/ba...,zymomonas_sp.,1921851,0.458903,0.99999,-0.000019,1.930892,0.999976,1.433338

## Taxonomy

In [64]:
df_tax_bacteria = pd.read_json(PATH_TAXONOMY_BACTERIA / 'taxonomy_bacteria.json', dtype=str)
df_tax_bacteria = df_tax_bacteria.rename(columns={'organism_name': 'name'})
df_tax_bacteria #[:50]

,url,name,no rank,superkingdom,kingdom,phylum,class,order,family,genus,...,species group,species subgroup,species,suborder,subclass,subfamily,tribe,subspecies,strain,
0,https://www.ncbi.nlm.nih.gov/Taxonomy/Browser/...,Abditibacterium_utsteinense,cellular organisms,Bacteria,Bacillati,Abditibacteriota,Abditibacteriia,Abditibacteriales,Abditibacteriaceae,Abditibacterium,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
1,https://www.ncbi.nlm.nih.gov/Taxonomy/Browser/...,Absiella_sp._AM09-45,cellular organisms,Bacteria,Bacillati,Bacillota,Erysipelotrichia,Erysipelotrichales,Erysipelotrichaceae,Amedibacterium,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
2,https://www.ncbi.nlm.nih.gov/Taxonomy/Browser/...,Absicoccus_sp._CLA-KB-P134,cellular organisms,Bacteria,Bacillati,Bacillota,Erysipelotrichia,Erysipelotrichales,Erysipelotrichaceae,Absicoccus,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
3,https://www.ncbi.nlm.nih.gov/Taxonomy/Browser/...,Abiotrophia_defectiva,nan,nan,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
4,https://www.ncbi.nlm.nih.gov/Taxonomy/Browser/...,Absicoccus_sp.,cellular organisms,Bacteria,Bacillati,Bacillota,Erysipelotrichia,Erysipelotrichales,Erysipelotrichaceae,Absicoccus,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
52628,https://www.ncbi.nlm.nih.gov/Taxonomy/Browser/...,zeta_proteobacterium_SCGC_AB-602-C20,cellular organisms,Bacteria,nan,Pseudomonadota,Zetaproteobacteria,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
52629,https://www.ncbi.nlm.nih.gov/Taxonomy/Browser/...,zeta_proteobacterium_SCGC_AB-602-E04,cellular organisms,Bacteria,nan,Pseudomonadota,Zetaproteobacteria,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
52630,https://www.ncbi.nlm.nih.gov/Taxonomy/Browser/...,zeta_proteobacterium_SCGC_AB-604-B04,cellular organisms,Bacteria,nan,Pseudomonadota,Zetaproteobacteria,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
52631,https://www.ncbi.nlm.nih.gov/Taxonomy/Browser/...,zeta_proteobacterium_SCGC_AB-133-G06,cellular organisms,Bacteria,nan,Pseudomonadota,Zetaproteobacteria,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
52632,https://www.ncbi.nlm.nih.gov/Taxonomy/Browser/...,zeta_proteobacterium_SCGC_AB-604-O16,cellular organisms,Bacteria,nan,Pseudomonadota,Zetaproteobacteria,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan

In [65]:
df_tax_bacteria = df_tax_bacteria.drop(columns=[""])
df_tax_bacteria.shape

(52633, 20)

In [55]:
df_full_genomes_archaea = df_full_genomes_archaea.rename(columns={"url": "url_refseq"})
df_full_genomes_archaea.columns

Index(['name', 'url_refseq', 'sequence', 'seq_length', 'GC_content', 'Q',
       'Tau(Q)', 'D(Q=1)', 'r_squared', 'Delta_Dq'],
      dtype='object')

In [66]:
df_tax_bacteria = df_tax_bacteria.rename(columns={"url": "url_taxonomy"})
df_tax_bacteria.columns

Index(['url_taxonomy', 'name', 'no rank', 'superkingdom', 'kingdom', 'phylum',
       'class', 'order', 'family', 'genus', 'clade', 'species group',
       'species subgroup', 'species', 'suborder', 'subclass', 'subfamily',
       'tribe', 'subspecies', 'strain'],
      dtype='object')

In [68]:
df_combined_bacteria = pd.merge(df_full_genomes_bacteria, df_tax_bacteria, on='name', how='left')
df_combined_bacteria

,name,url,sequence,seq_length,GC_content,Q,Tau(Q),D(Q=1),r_squared,Delta_Dq,...,clade,species group,species subgroup,species,suborder,subclass,subfamily,tribe,subspecies,strain
0,Abditibacterium_utsteinense,https://ftp.ncbi.nlm.nih.gov/genomes/refseq/ba...,abditibacterium_utsteinense,3606331,0.542684,0.99999,-0.000019,1.876546,0.999972,2.136054,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
1,Abiotrophia_defectiva,https://ftp.ncbi.nlm.nih.gov/genomes/refseq/ba...,abiotrophia_defectiva,2043439,0.469444,0.99999,-0.000020,1.963962,0.999991,0.811359,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
2,Abiotrophia_sp.,https://ftp.ncbi.nlm.nih.gov/genomes/refseq/ba...,abiotrophia_sp.,2016058,0.468279,0.99999,-0.000020,1.964641,0.999992,0.765295,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
3,Abiotrophia_sp._HMSC24B09,https://ftp.ncbi.nlm.nih.gov/genomes/refseq/ba...,abiotrophia_sp._hmsc24b09,2020784,0.465602,0.99999,-0.000020,1.964292,0.999992,0.752920,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
4,Absicoccus_porci,https://ftp.ncbi.nlm.nih.gov/genomes/refseq/ba...,absicoccus_porci,2222132,0.386083,0.99999,-0.000019,1.916776,0.999990,1.339399,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51042,Zwartia_sp.,https://ftp.ncbi.nlm.nih.gov/genomes/refseq/ba...,zwartia_sp.,3447573,0.522330,0.99999,-0.000020,1.962239,0.999996,0.857123,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
51043,Zwartia_vadi,https://ftp.ncbi.nlm.nih.gov/genomes/refseq/ba...,zwartia_vadi,3232556,0.516148,0.99999,-0.000020,1.962449,0.999997,0.922856,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
51044,Zymobacter_palmae,https://ftp.ncbi.nlm.nih.gov/genomes/refseq/ba...,zymobacter_palmae,2972948,0.560158,0.99999,-0.000019,1.946566,0.999986,0.975079,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
51045,Zymomonas_mobilis,https://ftp.ncbi.nlm.nih.gov/genomes/refseq/ba...,zymomonas_mobilis,2056363,0.463281,0.99999,-0.000019,1.932586,0.999978,1.396024,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
51046,Zymomonas_sp.,https://ftp.ncbi.nlm.nih.gov/genomes/refseq/ba...,zymomonas_sp.,1921851,0.458903,0.99999,-0.000019,1.930892,0.999976,1.433338,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan

In [69]:
taxonomy_columns = ['superkingdom', 'kingdom', 'phylum', 'class', 'order', 'family',
       'genus', 'clade', 'species group', 'species subgroup', 'species',
       'suborder', 'subclass', 'subfamily', 'tribe', 'subspecies', 'strain']
print(len(taxonomy_columns))

17

In [ ]:
df_combined_bacteria[taxonomy_columns] = df_combined_bacteria[taxonomy_columns].apply(lambda col: col.mask(col.isna(), pd.NA))
df_combined_bacteria[taxonomy_columns] = df_combined_bacteria[taxonomy_columns].replace('nan', pd.NA)

In [72]:
df_combined_bacteria['kingdom'].unique()

array(['Bacillati', <NA>, 'Pseudomonadati'], dtype=object)

In [ ]:
# Calculate unique counts for each column
unique_counts = {column: df_combined_bacteria[column].nunique() for column in taxonomy_columns}

# Convert the dictionary to a DataFrame for better readability
unique_counts_df = pd.DataFrame(list(unique_counts.items()), columns=['Column', 'Unique Count'])

# Display the DataFrame
unique_counts

{'superkingdom': 1,
 'kingdom': 2,
 'phylum': 73,
 'class': 121,
 'order': 284,
 'family': 719,
 'genus': 3569,
 'clade': 21,
 'species group': 61,
 'species subgroup': 19,
 'species': 8,
 'suborder': 4,
 'subclass': 2,
 'subfamily': 1,
 'tribe': 2,
 'subspecies': 0,
 'strain': 1}

## Saving the data

In [ ]:
# df_combined_bacteria.to_csv(PATH_COMBINED_BACTERIA / 'combined_bacteria.csv', sep=';', index=False)